@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,900;1,400;1,600;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: 0;
  list-style: none;


}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #999;

}


header {
  display: flex;
  min-height: 70px;
  background: rgb(48, 98, 56);
  background: radial-gradient(circle, rgba(48, 98, 56, 1) 0%, rgba(62, 35, 120, 1) 100%);
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  
}

.logo {

  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  margin-right: 10px;


}

 a {

  color: aliceblue;
}

 nav a {
 

  font-weight: 600px;
  padding-right: 10px;
 


}

nav a:hover {

  color: rgb(238, 135, 0);


}





/* SECCION UNO */



.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;

  background: url(/img/Logo.png) center;
  background-size: cover;
  height: 150vh;
}

.left {
  background: rgb(48, 98, 56);
  background: radial-gradient(circle, rgb(120, 38, 212), rgba(0, 30, 255, 0.411));
  display: flex;
  place-items: center;
  text-align: center;
  justify-content: center;

}

.left h1 {
  color: aliceblue;
  font-size: 50px;

}

.left p {
  color: aliceblue;
  font-size: 20px;

}

.left a {
  border-radius: 25px;
  border: 1px solid white;
  padding: 11px 15px;
  transition: background 1s;
  color: aliceblue;
  position: relative;
  top: 22px;

}

.left a:hover {
  background: orange;
  color: rgb(255, 255, 255);

}


/* SECCION que hacemos */

#servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  
min-height: 100vh;
background: rgb(48, 98, 56);
background: radial-gradient(circle, rgba(48, 98, 56, 1) 0%, rgba(62, 35, 120, 1) 100%);
opacity: 95%;




}

.container-servicios {
  position: relative;
  display: flex;
  justify-content: center;
   flex-wrap: wrap;
  padding: 60px 0;
  gap: 60px;

}

.container-servicios .box{
position: relative;
width: 300px;
height: 350px;
background: #2e2e2e;
display: flex;
justify-content: center;
align-items: center;

}



.container-servicios .box::before {
 content: "";
 position: absolute;
 inset: -10px 50px;
 border-top: 4px solid var(--clr);
 border-bottom: 4px solid var(--clr);
 z-index: -1;
 transform: skewY(15deg);
 transition: 0.5s ease-in-out;
}

.container-servicios .box:hover::before {

  transform: skewY(0deg);
  inset: -10px 40px;
}

.container-servicios .box::after {
  content: "";
  position: absolute;
  inset: 60px -10px;
  border-left: 4px solid var(--clr);
  border-right: 4px solid var(--clr);
  z-index: -1;
  transform: skew(15deg);
  transition: 0.5s ease-in-out;
 }
 
 .container-servicios .box:hover::after {
 
   transform: skew(0deg);
   inset: 40px -10px;
 }




.container-servicios .box .content {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-servicios .box .content .icon {

color: var(--clr);
width: 80px;
height: 80px;
box-shadow: 0 0 0 4px #2e2e2e,
0 0 0 6px  var(--clr);
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5em;
background: #252525 ;
transition: 0.5s ease-in-out;

}

.container-servicios .box:hover .content .icon {

  background: var(--clr);
  color: #2e2e2e;

  box-shadow: 0 0 0 4px #2e2e2e,
  0 0 0 300px  var(--clr);

}

.container-servicios .box .content .text h3{
font-size: 1.5em;
color: #afafaf;
font-weight: 500;
transition: 0.5s ease-in-out;


}

.container-servicios .box:hover .content .text h3{
  color: #2e2e2e;

}

.container-servicios .box .content .text  p {

color: #999;
transition: 0.5s ease-in-out;
  
}

.container-servicios .box:hover .content .text  p {

  color: #2e2e2e;
  
    
  }



  .container-servicios .box .content .text a {
    position: relative;
    background:var(--clr);
    color: #2e2e2e;
    padding: 8px 15px;
    display: inline-block;
    font-weight: 500;
    margin-top: 10px;
    transition: 0.5s ease-in-out;
 }

 .container-servicios .box:hover .content .text a{
  background: #2e2e2e;
  color: var(--clr);

 }
 /* seccion formulario */

.formulario {
width: 100%;
height: 100vh;
background: radial-gradient(circle, rgb(226, 158, 31) 0%, rgb(113, 71, 204) 100%);
display: flex;
align-items: center;
justify-content: center;

 }

 form{
background: #fff;
display: flex;
flex-direction: column;
padding: 2vh 4vh;
width: 90%;
max-width: 600px;
border-radius: 20px;


 }

 form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}

form input , form textarea {

  border: 0;
  margin: 10px 0;
 padding: 20px;
 background: rgb(209, 209, 209);
 font-size: 16px;

}

form button {

  padding: 15px;
  background: orange;
  color: aliceblue;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  width: 150px;
  margin: 20px auto  0;
  border-radius: 35px;




}






/* seccion F O O T E R */


footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}




footer a:hover {
  color: #50ff9c;

}



/* media */
@media (max-width: 700px) {

  header {

    flex-direction: column;
   
  }

  .left {

    width: 100%;
  }

  nav {

    padding: 10px 0;
  }

  .container {

    display: flex;
    height: 72vh;
  }

  .formulario {
    text-align: center;
    flex-direction: column;
    padding: 10px 0;
  }
}